body {
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: black;
  pointer-events: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 125vh;
  overflow: hidden;
  padding-top: 0;
  margin-top: -10%;

  >div {
    width: 90%;
    height: 110vh;
    margin-left: 10%;
    position: absolute;
    background-size: cover;
    mix-blend-mode: screen;
    background-blend-mode: darken;
    //	background-image: url('./images/photo-1602688355949-ae34f91c79c6.jpg');
    will-change: opacity;

    &.r {
      background-color: red;
    }

    &.g {
			background-color: lime;
			opacity: .9;
    }

    &.b {
      background-color: blue;
    }
  }
}

.random-glitch {
  background-color: red;
  z-index: 999;
}

.glitch-container {
  overflow: hidden;
  z-index: 99;
  opacity: 1;
}

.glitch-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.text-container{
}

.glitch-text{

	width: 100vw;
	
	h2{
		font-family: 'Courier Prime', monospace;
		color:white;
		text-align: center;
	}
}